* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
    background-color: #434c50;
    min-height: 100vh;
    font: normal 16px sans-serif;
    padding: 40px 0;
}
h1 {
    font-size: 70px;
    color: #fff;
    text-align: center;
}

.contenedor {
    width: 100%;
    margin: auto;
}

img {
    width: 100%;
}

.persona__columna {
    margin: 5px;
}

.personas .contenedor {
    display: grid;
}

@media (min-width: $pantalla-xs) {
    .personas .contenedor {
    grid-template-columns: repeat(2, 50%);
    }
}

@media (min-width: $pantalla-sm) {
    .personas .contenedor {
    grid-template-columns: repeat(3, 33.3%);
    }
}

@media (min-width: $pantalla-lg) {
    .personas .contenedor {
    grid-template-columns: repeat(4, 25%);
    }

    .contenedor {
    width: 1024px;
    }
}

@media (min-width: $pantalla-xl) {
    .contenedor {
    width: 1200px;
    }
}

.carousel-item img {
    height: 300px;
}
@media (min-width: $pantalla-sm) {
    #carouselExample {
        width: 50%;
        margin: 0 auto;
    }

    .carousel-item img {
        height: 350px;
    }
}